#about {
    padding: 5rem 0;
}

.about-wrapper {
    background-color: #E8E8E8;
}

.about-content-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#about img {
    border-radius: 10px;
    width: 90%;
}

.story h2, .mission h3 {
    text-align: center;
}

.story {
    flex-basis: 100%;
}

.story p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.mission {
    flex: 1;
}

.img {
    flex: 1;
    text-align: center;
}

@media (max-width: 950px) {
    .about-content-container {
        flex-direction: column;
    }

    .mission p {
        max-width: 600px;
        text-align: center;
    }
}
