nav {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    width: 22rem;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: Sans;
}

nav li a {
    color: #6c757d;
}

nav li a:hover {
    color: #343a40;
}

.logo {
    font-weight: bold;
    color: #163a5d;
}

.wrapper a {
    padding: 5px 19px;
    font-weight: semi-bold;
    cursor: pointer;
}

.wrapper {
    display: flex;
    font-size: 0.8rem;
}

.wrapper .signup {
    color: black;
    background: none;
    border: none;
}

.wrapper .login {
    color: white;
    background: #163a5d;
    border: none;
    border-radius: 10px;
}

.wrapper a:hover {
    opacity: 0.83;
}
