.nav-wrapper {
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    width: 22rem;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: Sans;
}

nav li a {
    color: #6c757d;
}

nav li a:hover {
    color: #343a40;
}

.logo {
    font-weight: bold;
    color: #163a5d;
}

.wrapper a {
    padding: 5px 19px;
    font-weight: semi-bold;
    cursor: pointer;
}

.wrapper {
    display: flex;
    font-size: 0.9rem;
}

.wrapper .signup {
    color: black;
    background: none;
    border: none;
}

.wrapper .login {
    color: white;
    background: #163a5d;
    border: none;
    border-radius: 10px;
}

.wrapper a:hover {
    opacity: 0.83;
}
